<h1> Stupid coaching </h1>
<div class="question">
  <p> <%= params[:question] %> </p>
  <p class="fst-italic"> -You </p>
</div>

<div class="answer" >
  <p class="fw-bold"> <%= @answer %> </p>
  <p class="fst-italic"> -Your coach </p>
</div>

<p class="link"> <%= link_to "Ask another question", "/ask" %></p>
